<template>
  <div class="hello">
    Variable: <span id="var_val">{{ variable }}</span>
    <button @click='decrement'>-</button>
    <button @click='increment'>+</button>

    <Lista/>

  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import Lista from "./Lista";
export default {
  name: 'HelloWorld',
  components: { Lista },
  props: {
    msg: String
  },
  computed: {
    ...mapState(['variable'])
  },
  methods: {
    ...mapActions(['increment','decrement'])
  }
}
</script>
