<template>
    <ul>
        <item
                v-for="i in 10"
                :n="i"
                @itemClick="metodo"
        >Item {{i}}</item>
    </ul>
</template>

<script>
    import item from './Item';
    export default {
        name: "Lista",
        components: { item },
        methods: {
            metodo(n) {
                console.log(n);
            }
        }
    }
</script>

<style scoped>

</style>
